:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-background: white;
  --light-background: white;
  --text-color: black;
  --pop-color: red;
}

body {
  margin: 0;
  background-color: var(--main-background);
  color: var(--text-color);
  user-select: none;
}

.link {
  text-decoration: none;
}
