.home-container-main {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.home-carousel-container {
  height: 90%;
  width: 100%;
  border-radius: 30px;
  padding: 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 4vh;
  overflow: hidden;
}

.image-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

  min-height: 85vh;
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-carousel-image {
  filter: invert();
  transition: 200ms linear;
}

.infosection {
  padding: 2rem;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 40vw;
}

.carousel-text {
  color: var(--text-color);
  font-size: 3rem;
}

.main-text {
  width: 30rem;
  font-size: 3.5rem;

  margin: 0;
}

.sub-text {
  margin: 0;
  font-size: 1rem;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 20rem;
  border: 1px solid;
  font-size: 1.5rem;
  border-radius: 1rem;
  transition: 200ms linear;
  font-weight: 600;
  cursor: pointer;
}

.create-button:hover {
  background-color: var(--text-color);
  color: white;
}

.semi-info {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;
}
